# Gitignore for SperaxOS
################################################################

# general
.DS_Store
.idea
.vscode
.history
.temp
.env.local
venv
temp
tmp

# dependencies
node_modules
*.log
*.lock
package-lock.json

# ci
.coverage
.eslintcache
.stylelintcache

# production
dist
es
logs
test-output

# umi
.umi
.umi-production
.umi-test
.dumi/tmp*

# husky
.husky/prepare-commit-msg

# misc
public
.env
.env.*

# macOS
.DS_Store
__MACOSX

# Python
__pycache__
*.pyc
.venv
*.egg-info

# Build artifacts
dist
build
out
*.wasm
*.snap

# Large files
*.mov
*.mp4
*.sketch
vendor/
archive/



